{% extends "custom_list.html" %}

{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const createBtn = document.createElement('a');
            createBtn.href = '/admin/create-regulation';
            createBtn.className = 'btn btn-primary';
            createBtn.innerHTML = '<i class="fa-solid fa-plus" style="margin-right: 5px;"></i> Добавить Регламент';

            const cardHeader = document.querySelector('.card-header');

            if (cardHeader) {
                cardHeader.classList.add('d-flex', 'justify-content-between', 'align-items-center');
                const title = cardHeader.querySelector('.card-title');
                if (title) title.classList.add('mb-0');
                cardHeader.appendChild(createBtn);
            }
        });
    </script>

    {{ super() }}
{% endblock %}